.filter-field{
    width: 100%;
    padding: 10px 0;
}
table{
    width: 100%;
    background-color: #dcedc8;
    .table-cell-center{
        text-align: center;
    }
    .table-footer{
        text-align: center;
    }
}