<div class="container">

    <h3 mat-dialog-title>Are you sure?</h3>
    <div mat-dialog-content>
        <div>You are going to delete user <i>{{data?.name.firstName}}</i></div>
        <div>User's email is <i>{{data?.name.email}}</i></div>
    </div>

    <mat-checkbox [(ngModel)]="checkboxFlag">I'm not kidding</mat-checkbox>

    <div mat-dialog-actions class="button-section">
      <button mat-stroked-button color="accent" (click)="confirmDelete(true)" [disabled]="!checkboxFlag">Yes, I know that</button>
      <button mat-stroked-button color="warn" (click)="close()">Oops, my fault</button>
    </div>

</div>