.main-title{
    width: 100%;
    background-color: #80cbc4;
    span{
        display: flex;
        justify-content: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 77px;
        color: #3f51b5;
    }
}

.navbar{
    width: 100%;
    background-color: #e8eaf6;
    &-section{
        display: flex;
        justify-content: space-between;
        padding: 10px 20px;
        &-wrapper{
            width: 33%;
            display: flex;
            &:nth-child(2){
                justify-content: center;
            }
            &:nth-child(3){
                justify-content: flex-end;
            }
            .navbar-section-item{
                width: 150px;
                color: #5c928d;
            }
            .navbar-section-currentUser{
                width: 100%;
                display: flex;
                justify-content: space-between;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                font-size: 30px;
                .navbar-currentUser-item{
                    color: #5c928d;
                    i{
                        color: #3f51b5;
                    }
                }
                .material-icons.md-32 {
                    font-size: 32px;
                    color: #5c928d;
                    cursor: pointer;
                }
            }
        }
    }
}