.wrapper {
    height: 900px;
    .side-menu{
        padding: 10px 10px;
        background-color: #ffe0b2;
        display: flex;
        justify-content: center;
        .side-menu-item{
            display: flex;
            flex-direction: column;
            button{
                margin: 20px 0 0;
            }
            &.btn-hide{
                display: flex;
                align-items: center;
                width: 100%;
            }
        }
    }
    .side-content{
        padding: 10px 10px;
        background-color: #ffccbc;
        .side-content-item{
            margin: 0 0 20px;
        }
    }
}