<div class="container">

  <h3 mat-dialog-title>Add new user</h3>

  <form [formGroup]="addForm" novalidate (ngSubmit)="submit()">
    <mat-form-field color="primary" appearance="fill">
      <mat-label>First name</mat-label>
      <input type="text"
            matInput
            formControlName="firstName">
      <mat-hint>Enter first name</mat-hint>
    </mat-form-field>

    <mat-form-field color="primary" appearance="fill">
      <mat-label>Last name</mat-label>
      <input type="text"
            matInput
            formControlName="lastName">
      <mat-hint>Enter last name</mat-hint>
    </mat-form-field>
    
    <mat-form-field color="primary" appearance="fill">
      <mat-label>Email</mat-label>
      <input type="email"
            matInput
            formControlName="email">
      <mat-hint>Enter email</mat-hint>
    </mat-form-field>
    
    <mat-form-field color="primary" appearance="fill">
      <mat-label>Password</mat-label>
      <input type="password"
            matInput
            formControlName="password">
      <mat-hint>Enter password</mat-hint>
    </mat-form-field>
    <section mat-dialog-actions class="button-section">
      <button mat-stroked-button color="primary" [disabled]="addForm.invalid" type="submit">Add</button>
      <button mat-stroked-button color="warn" (click)="close()">Cancel</button>
    </section>
  </form>

</div>