.log-wrapper{
    display: flex;
    align-items: center;
    flex-direction: column;

    .log-form,
    .log-title{
        min-width: 150px;
        max-width: 500px;
        width: 100%;
    }
    .full-width{
        width: 100%;
        padding: 15px 0;
        #inputEmail,
        #inputPassword{
            padding: 15px 0;
        }
    }
    button[type="submit"] {
        margin-right: 50px;
    }
}