<!-- top header -->
<header>
    <section class="main-title">
        <span>Bookstore</span>
    </section>
</header>

<!-- nav -->
<nav class="navbar">
    <div class="navbar-section">
        <a mat-raised-button color="link" class="navbar-section-item" routerLink="/">Books</a>
        <a mat-raised-button color="link" class="navbar-section-item" routerLink="/">Something</a>
        <a mat-raised-button color="link" class="navbar-section-item" routerLink="/login">Login</a>
    </div>
    <div *ngIf="currentUser"  class="navbar-currentUser">
        <div class="navbar-currentUser-item currentUserName" contenteditable="true">Hello <i>{{currentUser.email}}</i> </div>
        <a mat-raised-button color="link" class="navbar-currentUser-item" (click)="logout()">Logout</a>
    </div>
</nav>

<router-outlet></router-outlet>
