<!-- top header -->
<header>
    <section class="main-title">
        <span>Bookstore</span>
    </section>
</header>

<!-- nav -->
<nav class="navbar">
    <div class="navbar-section">
        <a mat-raised-button color="link" class="navbar-section-item" routerLink="/">Books</a>
        <a mat-raised-button color="link" class="navbar-section-item" href="#">Something</a>
        <a mat-raised-button color="link" class="navbar-section-item" routerLink="/login">Login</a>
    </div>
</nav>

<div *ngIf="currentUser">

    <div contenteditable="true">Hello {{currentUser.email}}</div>
    <!-- <div [(ngModel)]="emailRender">One more</div> -->

    <button (click)="logout()">Logout</button>
</div>
<router-outlet></router-outlet>
