.main-title{
    width: 100%;
    background-color: #80cbc4;
    span{
        display: flex;
        justify-content: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 77px;
        color: #3f51b5;
    }
}