.reg-wrapper{
    display: flex;
    align-items: center;
    flex-direction: column;

    .reg-form,
    .reg-title{
        min-width: 150px;
        max-width: 500px;
        width: 100%;
    }
    .full-width{
        width: 100%;
        padding: 15px 0;
        #inputEmail,
        #inputPassword{
            padding: 15px 0;
        }
    }
    .reg-btn {
        display: flex;
        justify-content: space-between;
        .user-errorMsg{
            color: #f44336;
            font-size: 18px;
        }
    }
}