<mat-card>
  
  <mat-toolbar color="warn">
    <mat-toolbar-row>
      <span>Add book</span>
    </mat-toolbar-row>
  </mat-toolbar>
  
  <div class="wrapper">
    <form [formGroup]="bookForm" novalidate (ngSubmit)="submit(formDirective)" class="form-book" #formDirective="ngForm">
      <div class="form-container">
          <mat-form-field appearance="fill" color="primary">
              <mat-label>Enter book's code</mat-label>
              <input
                type="text" 
                matInput
                placeholder="Book code"
                formControlName="bookCode">
          </mat-form-field>
        
          <mat-form-field appearance="fill" color="primary">
              <mat-label>Enter title</mat-label>
              <input
                type="text" 
                matInput
                placeholder="Title"
                formControlName="title">
          </mat-form-field>
          <div formArrayName="authors">
            <mat-form-field appearance="fill" color="primary" *ngFor="let authors of authors.controls; let i=index" class="input-padding">
              <!-- The repeated authors template -->
                <mat-label>Enter authors</mat-label>
                <input
                  type="text" 
                  matInput
                  placeholder="Authors"
                  [formControlName]="i">
            </mat-form-field>
            <button mat-icon-button color="primary" matTooltip="Add author" (click)="addAuthor()">
                <mat-icon>add</mat-icon>
            </button>
          </div>
          
          <mat-form-field appearance="fill" color="primary">
              <mat-label>Enter price</mat-label>
              <input            
                type="number" 
                matInput
                placeholder="Price"
                formControlName="price">
          </mat-form-field>
    
          <mat-form-field appearance="fill" color="primary">
              <mat-label>Enter amount</mat-label>
              <input
                type="number"
                matInput
                placeholder="Amount"
                formControlName="amount">
          </mat-form-field>

          <mat-form-field appearance="fill" color="primary">
              <mat-label>Enter description</mat-label>
              <input
                type="text"
                matInput
                placeholder="Description"
                formControlName="description">
          </mat-form-field>

          <div class="input-file">
            <div class="input-file-title">Add book cover:</div>
            <button mat-raised-button>
              <mat-icon>add_photo_alternate</mat-icon>
              <input
                    #_fileInput
                    type="file"
                    name="image"
                    placeholder="Cover"
                    formControlName="cover"
                    (change)="fileChangeEvent($event)"
                    accept=".jpg, .jpeg, .png">
              </button>

            <image-cropper
              [imageChangedEvent]="imageChangedEvent"
              [maintainAspectRatio]="true"
              [aspectRatio]="4 / 3"
              [resizeToWidth]="32"
              format="png"
              (imageCropped)="imageCropped($event)"
            ></image-cropper>

            <img *ngIf="imageChangedEvent" [src]="croppedImage" />

          </div>


      </div>
      <div class="book-btn">
        <button mat-raised-button color="primary" type="submit" >Add book</button>
      </div>

    </form>

  </div>
</mat-card>