<mat-card>
  <!-- header -->
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Cart</span>
    </mat-toolbar-row>
  </mat-toolbar>
  <!-- cart table -->
  <table mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="headerMessage">
        <td mat-header-cell *matHeaderCellDef colspan="7" class="table-header"> 
            {{sumQuantityResult() ? sumQuantityResult() : 'No'}} book(s) added
        </td>
    </ng-container>

    <ng-container matColumnDef="cover">
        <td mat-cell *matCellDef="let element">
            <svg xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                width="150"
                height="150"
                viewBox="0 0 24 24">
                <defs><path id="a" d="M0 0h24v24H0V0z"/></defs><clipPath id="b"><use xlink:href="#a" overflow="visible"/></clipPath>
                <path clip-path="url(#b)" d="M21 5c-1.11-.35-2.33-.5-3.5-.5-1.95 0-4.05.4-5.5 1.5-1.45-1.1-3.55-1.5-5.5-1.5S2.45 4.9 1 6v14.65c0 .25.25.5.5.5.1 0 .15-.05.25-.05C3.1 20.45 5.05 20 6.5 20c1.95 0 4.05.4 5.5 1.5 1.35-.85 3.8-1.5 5.5-1.5 1.65 0 3.35.3 4.75 1.05.1.05.15.05.25.05.25 0 .5-.25.5-.5V6c-.6-.45-1.25-.75-2-1zm0 13.5c-1.1-.35-2.3-.5-3.5-.5-1.7 0-4.15.65-5.5 1.5V8c1.35-.85 3.8-1.5 5.5-1.5 1.2 0 2.4.15 3.5.5v11.5z"/>
            </svg>
        </td>
    </ng-container>
    <ng-container matColumnDef="title">
        <td mat-cell *matCellDef="let element">{{element.title}}</td>
    </ng-container>
    <ng-container matColumnDef="authors">
        <td mat-cell *matCellDef="let element">{{element.authors}}</td>
    </ng-container>
    <ng-container matColumnDef="price">
        <td mat-cell *matCellDef="let element">{{element.price}}$</td>
    </ng-container>
    <ng-container matColumnDef="amount">
        <td mat-cell *matCellDef="let element">
            <button mat-icon-button color="primary" matTooltip="One less" (click)="decrement(element)">
                <mat-icon>remove</mat-icon>
            </button>
            <span>{{element.quantity}}</span>
            <button mat-icon-button color="primary" matTooltip="One more" (click)="increment(element)">
                <mat-icon>add</mat-icon>
            </button>
        </td>
    </ng-container>
    <ng-container matColumnDef="actions">
        <td mat-cell *matCellDef="let element">          
            <button mat-icon-button color="warn" matTooltip="Remove book" (click)="deleteBook(element)">
                <mat-icon class="material-icons">clear</mat-icon>
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['headerMessage']"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-card-actions>
    <button mat-raised-button color="primary" routerLink="/books">Back</button>
    <button mat-raised-button color="warn" (click)="deleteAllBooks()">Clear Cart</button>
    <div>
        <span class="total-price">Total price: {{sumPriceResult()}} $</span>
        <button mat-raised-button color="accent">Buy</button>
    </div>
  </mat-card-actions>
</mat-card>
