.header-title{
    span{
        font-size: 60px;
    }
}

.books-container{
    background-color: #c5cae9;
    min-height: 300px;
    .wrapper{
        display: flex;
        padding: 10px;
        .item-container{
            max-width: 400px;
            min-width: 300px;
            margin-right: 30px;
            &:hover{
                background-color: #b0bbf7;
            }
            .book-cover{
                padding: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .books-nav, .books-nav-admin{
                display: flex;
                justify-content: space-between;
            }
            .books-nav-admin{
                padding-top: 20px;
            }
        }

    }
}