<mat-card>
    <mat-card-content class="reg-wrapper">

        <mat-toolbar color="primary" class="reg-title">
            <h2>{{title}}</h2>
        </mat-toolbar>
        
        <form novalidate class="reg-form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">

            <mat-form-field class="full-width">
                <input matInput
                    placeholder="First Name"
                    type="name"
                    id="inputFirstname"
                    formControlName="firstName"
                    required>
                <mat-error *ngIf="f.firstName.errors?.required">You must enter a value</mat-error>
                <mat-error *ngIf="f.firstName.invalid && f.firstName.dirty">Not a valid value</mat-error>
            </mat-form-field>

            <mat-form-field class="full-width">
                <input matInput
                    placeholder="Last Name"
                    type="name"
                    id="inputLastname"
                    formControlName="lastName"
                    required>
                <mat-error *ngIf="f.lastName.errors?.required">You must enter a value</mat-error>
                <mat-error *ngIf="f.lastName.invalid && f.lastName.dirty">Not a valid value</mat-error>
            </mat-form-field>

            <mat-form-field class="full-width">
                <input matInput
                    placeholder="Email"
                    type="email"
                    id="inputEmail"
                    formControlName="email"
                    required>
                <mat-error *ngIf="f.email.errors?.required">You must enter a value</mat-error>
                <mat-error *ngIf="f.email.invalid && f.email.dirty">Not a valid value</mat-error>
            </mat-form-field>

            <mat-form-field class="full-width">
                <input matInput
                    placeholder="Password"
                    type="password"
                    id="inputPassword"
                    formControlName="password"
                    required>
                <mat-error *ngIf="f.password.errors?.required">You must enter a value</mat-error>
                <mat-error *ngIf="f.password.errors?.minlength">Password must be at least 3 characters long</mat-error>
                <mat-error *ngIf="f.password.invalid && f.password.dirty">Not a valid value</mat-error>
            </mat-form-field>

            <div class="reg-btn">
                <button mat-raised-button color="primary" type="button" routerLink="/login" *ngIf="state === 'registration'">Back</button>
                <button mat-raised-button color="warn" type="button" *ngIf="state === 'add'">Cancel</button>
                <button mat-raised-button color="warn" type="button" *ngIf="state === 'edit'">Cancel</button>
                <button mat-raised-button color="primary" type="submit" [disabled]="registerForm.invalid">{{btnName}}</button>
            </div>
        
        </form>
          
    </mat-card-content>
</mat-card>