<mat-card>
    <mat-card-content class="reg-wrapper">

        <mat-toolbar color="primary" class="reg-title">
            <h2>Registration</h2>
        </mat-toolbar>
        
        <form novalidate class="reg-form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">

            <mat-form-field class="full-width">
                <input matInput
                    placeholder="First Name"
                    type="name"
                    id="inputFirstname"
                    formControlName="firstName"
                    required>
                <mat-error *ngIf="f.firstName.invalid">{{getErrorMessage(this.f.firstName, 'pattern')}}</mat-error>
            </mat-form-field>

            <mat-form-field class="full-width">
                <input matInput
                    placeholder="Last Name"
                    type="name"
                    id="inputLastname"
                    formControlName="lastName"
                    required>
                <mat-error *ngIf="f.lastName.invalid">{{getErrorMessage(this.f.lastName, 'pattern')}}</mat-error>
            </mat-form-field>

            <mat-form-field class="full-width">
                <input matInput
                    placeholder="Email"
                    type="email"
                    id="inputEmail"
                    formControlName="email"
                    required>
                <mat-error *ngIf="f.email.invalid">{{getErrorMessage(this.f.email, 'pattern')}}</mat-error>
            </mat-form-field>

            <mat-form-field class="full-width">
                <input matInput
                    placeholder="Password"
                    type="password"
                    id="inputPassword"
                    formControlName="password"
                    required>
                <mat-error *ngIf="f.password.invalid">{{getErrorMessage(this.f.password, 'minlength')}}</mat-error>
            </mat-form-field>

            <div class="reg-btn">
                <button mat-raised-button color="primary" type="button" routerLink="/login">Back</button>
                <button mat-raised-button color="primary" type="submit" [disabled]="registerForm.invalid">Register</button>
            </div>
        
        </form>
          
    </mat-card-content>
</mat-card>